.about {
  padding: 25px 0px 0px 0px;
  @media screen and (min-width: 575px) {
    padding: 42px 0px 0px 0px;
  }
  @media screen and (min-width: 767px) {
    padding: 26px 0px 0px 0px;
  }
  @media screen and (min-width: 992px) {
    padding: 53px 0px 0px 0px;
  }
  @media screen and (min-width: 1400px) {
    padding: 126px 0px 0px 0px;
  }
}

.about__container {
  @media screen and (min-width: 767px) {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 320px 1fr 295px;
    grid-template-rows: 50px 1fr 80px;
    gap: 30px 0px;
    grid-template-areas:
      "about__title . about__picture"
      "about__text . about__picture"
      "about__list . about__picture";
  }
}
.about__title {
  @media screen and (min-width: 767px) {
    justify-self: start;
    grid-area: about__title;
  }
}

.about__image {
  display: block;
  margin: 0px auto 23px auto;
  @media screen and (min-width: 575px) {
    margin-bottom: 25px;
  }
  @media screen and (min-width: 767px) {
    margin-bottom: 0;
  }
}

.about__container picture {
  align-self: center;
  grid-area: about__picture;
}

.about__text {
  margin-bottom: 22px;
  text-align: center;
  @media screen and (min-width: 575px) {
    margin-bottom: 28px;
    font-size: 14px;
  }
  @media screen and (min-width: 767px) {
    margin-bottom: 0px;
    text-align: left;

    grid-area: about__text;
  }
  @media screen and (min-width: 992px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1400px) {
    font-size: 20px;
  }
}

.about__list {
  @media screen and (min-width: 575px) {
    display: flex;
    justify-content: space-evenly;
    grid-area: about__list;
  }
  @media screen and (min-width: 767px) {
    justify-content: space-between;
  }
}

.about__item {
  @media screen and (max-width: 575px) {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.about__amount {
  color: $about-us-color;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  @media screen and (min-width: 767px) {
    font-size: 22px;
  }
  @media screen and (min-width: 992px) {
    font-size: 30px;
  }
  @media screen and (min-width: 1400px) {
    font-size: 48px;
  }
}
.name {
  text-align: center;
  @media screen and (min-width: 575px) {
    font-size: 14px;
  }
  @media screen and (min-width: 767px) {
    font-size: 13px;
  }
  @media screen and (min-width: 992px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1400px) {
    font-size: 20px;
  }
}
