.header {
  display: flex;
  min-height: 70px;
  @media screen and (min-width: 575px) {
    min-height: 100px;
  }
  @media screen and (min-width: 767px) {
    min-height: 120px;
  }
  @media screen and (min-width: 992px) {
    min-height: 140px;
  }
  @media screen and (min-width: 1400px) {
    min-height: 170px;
  }
}

.menu-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

  background-color: transparent;
  border: none;

  @media screen and (min-width: 992px) {
    display: none;
  }
}

.menu-btn__icon {
  fill: $subtitle-color;
  transition: fill 250ms $timing-function;
  &:hover,
  &:focus {
    fill: $title-color;
  }
}

.menu-btn__cross {
  display: none;
  .menu-btn.is-open & {
    display: block;
  }
}

.menu-btn__burger {
  .menu-btn.is-open & {
    display: none;
  }
}

.header__link {
  display: block;

  font-weight: 500;
  font-size: 30px;
  color: $subtitle-color;
  text-decoration: none;
  transform: scale(1);

  transition: transform 150ms linear;
  @media screen and (min-width: 992px) {
    font-size: 16px;
    padding-top: 58px;
    padding-bottom: 58px;
  }
  @media screen and (min-width: 1400px) {
    font-size: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
    transform: scale(1.07);
  }
}

.header__link--button {
  max-width: 223px;
  padding: 17px 57px;

  font-size: 24px;
  color: $title-color;
  text-decoration: none;
  border: 2px solid $subtitle-color;
  border-radius: 5px;

  transition: color 150ms linear, background-color 150ms linear;

  @media screen and (min-width: 992px) and (max-width: 1399px) {
    font-size: 18px;
    padding: 12px 40px;
    margin-left: 105px;
  }
  @media screen and (min-width: 1400px) {
    margin-left: 210px;
  }
  &:hover,
  &:focus {
    background-color: $subtitle-color;
    color: $btn-text-color;
  }
}

.header__list {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 992px) {
    flex-direction: row;
  }
}

.header__item {
  @media screen and (min-width: 992px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1400px) {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  background-color: white;

  @media screen and (max-width: 991px) {
    display: none;
    position: absolute;
    top: calc((100% + 15px));
    left: 0;
    z-index: 33;
    overflow-y: scroll;
    width: 100%;
    height: calc(100vh - 70px);
    padding: 48px 0px 88px 40px;
    opacity: 1;
    transition: opacity 250ms linear;

    &.is-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      opacity: 0.97;
    }
  }

  @media screen and (min-width: 575px) and (max-width: 991px) {
    top: calc(100% + 27.5px);
    height: calc(100vh - 100px);
  }

  @media screen and (min-width: 992px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: auto;
  }
}
