.hero__title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: $title-color;
  @media screen and (min-width: 575px) {
    margin-bottom: 26px;
    font-size: 34px;
    line-height: 1.32;
  }
  @media screen and (min-width: 767px) {
    margin-bottom: 25px;
    max-width: 300px;
    text-align: left;
    font-size: 36px;
    line-height: 1.25;
  }
  @media screen and (min-width: 992px) {
    margin-bottom: 27px;
    font-size: 48px;
    line-height: 1.33;
  }
  @media screen and (min-width: 1400px) {
    min-width: 450px;
    margin-bottom: 40px;
    font-size: 64px;
    line-height: 1.25;
  }
}

.hero__image {
  display: block;
  margin: 0 auto;
}

.hero__text {
  text-align: center;
  margin-bottom: 35px;
  @media screen and (min-width: 575px) {
    font-size: 16px;
    margin-bottom: 37px;
  }
  @media screen and (min-width: 767px) {
    margin-bottom: 32px;
    text-align: left;
  }
  @media screen and (min-width: 992px) {
    margin-bottom: 33px;
    font-size: 20px;
  }
  @media screen and (min-width: 1400px) {
    margin-bottom: 61px;
    font-size: 24px;
  }
}

.hero__container {
  @media screen and (min-width: 767px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: end;
  }
}

.hero__wrapper {
  position: relative;
  @media screen and (min-width: 767px) {
    max-width: 333px;
  }
  @media screen and (min-width: 992px) {
    max-width: 417px;
  }
  @media screen and (min-width: 1400px) {
    max-width: 500px;
  }
}

.hero__icon {
  display: none;
  @media screen and (min-width: 767px) {
    display: block;
    position: absolute;
    top: -5px;
    left: 250px;
    .hero__wrapper:hover & {
      transform: rotatez(-10deg);
    }
  }
  @media screen and (min-width: 992px) {
    width: 90px;
    top: 18px;
    left: 320px;
  }
  @media screen and (min-width: 1400px) {
    position: absolute;
    width: 110px;
    top: 50px;
    left: 400px;
  }
}

.hero {
  padding: 0px 0px 23px 0px;
  @media screen and (min-width: 575px) {
    padding: 0px 0px 35px 0px;
  }
  @media screen and (min-width: 767px) {
    padding: 0px 0px 28px 0px;
  }
  @media screen and (min-width: 992px) {
    padding: 0px 0px 24px 0px;
  }
  @media screen and (min-width: 1400px) {
    padding: 0px 0px 52px 0px;
  }
}
