body {
  font-family: $font;
  color: $main-color;
  font-size: 13px;
  line-height: 1.5;
  &.menu-open {
    @media screen and (max-width: 991px) {
      overflow: hidden;
    }
  }
}

h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

img {
  @media screen and (max-width: 319px) {
    width: 100%;
  }
}
