$main-color: #8f95a5;
$title-color: #000000;
$subtitle-color: #263238;
$btn-text-color: #ffffff;
$price-color: #546269;
$about-us-color: #2a3246;
$logo-color: #939393;
$background-color: #f5f5f5;
$pricing-background-color: #eeeeee;
$footer-line-color: #c4c4c4;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$font: "Poppins", sans-serif;
